bcrypt
beautifulsoup4
python-dotenv
duckduckgo-search
email-validator
exa-py
fastapi
googlesearch-python
httpx
python-jose
playwright
pydantic
requests
requests-cache
selenium
seleniumbase
sqlalchemy
urllib3
uvicorn
PyYAML
python-multipart
pydantic-settings
browser-use
groq
langchain-groq
